<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
      <!-- This file is .ejs rather than .html so that we can dynamically add a nonce into the header -->
  <!-- the nonce is used in the Content security policy webpack plugin so that Material UI styles can be injected into the DOM -->
  <!-- https://github.com/reZach/secure-electron-template/issues/14 -->
    <meta
      property="csp-nonce"
      content="<%= htmlWebpackPlugin.options.nonce %>"
    />
  </head>

  <body>
    <div id="target"></div>
  </body>
</html>
